# binaries
/OpenGLProject

# Local save games
/saves

# build files
/build/

# testing files
/Testing/

# vscode files
/.vscode/

# eclipse files
/.cproject
/.project
/.settings/

# gdb files
/.gdb_history
